<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211197223698-ensbjg0kbvdb243uh57trnb5dq11gf6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211197223698-ensbjg0kbvdb243uh57trnb5dq11gf6v</string>
	<key>API_KEY</key>
	<string>AIzaSyBwJW_aQFj-qc5cll_l7-E5yzGZK7K6m9w</string>
	<key>GCM_SENDER_ID</key>
	<string>211197223698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.todoapp</string>
	<key>PROJECT_ID</key>
	<string>dinyingliao-8d381</string>
	<key>STORAGE_BUCKET</key>
	<string>dinyingliao-8d381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211197223698:ios:402aeea1ce7a849f4b09cb</string>
	<key>DATABASE_URL</key>
	<string>https://dinyingliao-8d381.firebaseio.com</string>
</dict>
</plist>